<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" defaultUrl="Default.aspx" />
		</authentication>
	</system.web>
	<location path="Member">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Staff">
		<system.web>
			<authorization>
				<allow roles="Staff" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.serviceModel>
		
  <bindings>
   <basicHttpBinding>
    <binding name="WebService1Soap">
     <security mode="Transport" />
    </binding>
    <binding name="WebService1Soap1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://localhost:44358/bitcoin_service.asmx"
    binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
    contract="bitcoinService.WebService1Soap" name="WebService1Soap" />
  </client>
  <behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>